@import '~Styles/fonts.scss';
@import '~Styles/variables.scss';


.actionButtons {
  margin-left: auto;

  button {
    @include bold;
    font-size: 16px;
    background-color: transparent;
    color: $medium-blue;
    border: none;
    cursor: pointer;
  }
  button:first-child {
    margin-right: 10px;
  }
  button.active {
    color: $black-blue;
    cursor: unset;
  }
}


@media only screen and (min-width : 400px) {
  .actionButtons button:first-child {
    margin-right: 35px;
  }
}

@media only screen and (min-width : 450px) {
  .pushLeft {
    margin-right: 0;
  }
}
