.container {
  display: flex;
  height: 40px;

  border: 1px solid #DFE1E5;
  border-radius: 20px;
  background: #ffffff;

  margin-left: 12px;
}


@media only screen and (min-width : 376px) {
  .container {
    margin-left: auto;
  }
}

@media only screen and (min-width : 505px) {
  .container {
    width: 100%;
    margin-left: 60px;
  }
}
